#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Cantara
GenericName=Song Presenter
GenericName[en_GB]=Song Presenter
GenericName[de]=Liedpräsentation

# Gnome and KDE 3 uses Comment.
Comment=Present Songs
Comment[en_GB]=Present Songs
Comment[de]=Liedtexte anzeigen
Exec=cantara
Terminal=false
Icon=app.cantara.Cantara
Type=Application
Categories=Office;Presentation;
