<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cantara PPTX export</title>
    <script src="pptxgen.bundle.js"></script>

    <script type="text/javascript">
    let pres = new PptxGenJS();

    pres.author = "Cantara";
    pres.layout = "LAYOUT_16x9";

    pres.defineSlideMaster({
      title: "SlideWithSpoiler",
      {{BACKGROUND}}
      objects: [
        {{BACKGROUNDIMAGE}}
        { placeholder: {
          options: { name: "maincontent", type: "body", x: 0, y: 0, w: 10, h: 3.5, align: "center", valign: "middle", fontSize: "32", color: "{{TEXTCOLOR}}", autoFit: true },
          text: "",
        } },
        { placeholder: {
          options: { name: "spoiler", type: "body", x: 0, y: 3.5, w: 10, h: 2.1, align: "center", valign: "middle", fontSize: "18", color: "{{TEXTCOLOR}}", autoFit: true },
          text: "",
        } },
      ]
    });

    pres.defineSlideMaster({
      title: "SlideWithoutSpoiler",
      {{BACKGROUND}}
      objects: [
        {{BACKGROUNDIMAGE}}
        { placeholder: {
          options: { name: "maincontent", type: "body", x: 0, y: 0, w: 10, h: 5.6, align: "center", valign: "middle", fontSize: "32", color: "{{TEXTCOLOR}}", autoFit: true },
          text: "",
        } },
      ]
    });

    pres.defineSlideMaster({
      title: "EmptySlide",
      {{BACKGROUND}}
      objects: [
        {{BACKGROUNDIMAGE}}
        { placeholder: {
          options: { name: "emptycontent", type: "body", x: 0, y: 0, w: 10, h: 5.6, align: "center", valign: "middle", fontSize: "32", color: "{{TEXTCOLOR}}", autoFit: true },
          text: "",
        } },
      ]
    });

   pres.defineSlideMaster({
      title: "TitleSlide",
      {{BACKGROUND}}
        objects: [
        {{BACKGROUNDIMAGE}}
        { placeholder: {
          options: { name: "title", type: "body", x: 0, y: 0, w: 10, h: 5.6, align: "center", valign: "middle", fontSize: "32", color: "{{TEXTCOLOR}}", autoFit: true, bold: true },
          text: "",
        } },
      ]
    });

    {{SLIDECONTENT}}

    // 4. Save the Presentation
    pres.writeFile({ fileName: "Presentation.pptx" });
    </script>
  </head>
  <body>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>
