<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cantara PPTX export</title>
    <script src="pptxgen.bundle.js"></script>

    <script type="text/javascript">
    let pres = new PptxGenJS();

    pres.author = "Cantara";
    pres.layout = "LAYOUT_16x9";

    pres.defineSlideMaster({
      title: "SlideWithSpoiler",
      background: { color: "FFFFFF" },
      objects: [
        { placeholder: {
          options: { name: "maincontent", type: "body", x: 0, y: 0, w: 10, h: 3.5, align: "center", valign: "middle", autoFit: true },
          text: "(custom placeholder text!)",
        } },
        { placeholder: {
          options: { name: "spoiler", type: "body", x: 0, y: 3.5, w: 10, h: 2.1, align: "center", valign: "middle", fontSize: "18", autoFit: true },
          text: "(custom placeholder text!)",
        } },
      ]
    });

    // 2. Add a Slide
    let slide;
    slide = pres.addSlide({ masterName: "SlideWithSpoiler" });

    // Add text, charts, etc. to any placeholder using its `name`
    slide.addText("Amazing Grace, How sweet the sound!\nThat saved a wretch like me.\nI once was lost, but now was found.\nWas blind, but now I see.", { placeholder: "maincontent" });
    slide.addText("The next slide here", { placeholder: "spoiler" });

    slide = pres.addSlide({ masterName: "SlideWithSpoiler" });

    // Add text, charts, etc. to any placeholder using its `name`
    slide.addText("How sweet the sound!\nThat saved a wretch like me.\nI once was lost, but now was found.\nWas blind, but now I see.", { placeholder: "maincontent" });
    slide.addText("The next slide here", { placeholder: "spoiler" });

    // 4. Save the Presentation
    pres.writeFile({ fileName: "Presentation.pptx" });
    </script>
  </head>
  <body>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>
